[configuration]
  title = Denmark: Distribution of Daily Electricity Production in 2014, by Energy Type

  /*
  Data source: energinet.dk
  */

[widget]
  type = box
  class = metro
  percentile-markers = all
  starttime = 2014-01-01T00:00:00Z
  endtime =   2015-01-01T00:00:00Z

  timezone = UTC
  format = megawatthour
  server-aggregate = true
  entity = energinet.dk

  statistic = sum
  period = 1 day
  group-statistics = sum
  group-period = 1 day

  [tags]
    name = DK-*st

  [series]
    metric = wind_power_production
    label = Wind

  [series]
    metric = solar_cell_production_(estimated)
    label = Solar
    color = darkorange

  [series]
    metric = primary_production
    label = Central Power Stations
    color = dimgray

  [series]
    metric = local_production
    label = Local Power Stations
    color = brown
