[repeat]
  v = [2016]

  [configuration]
    title = Energy Mix

  [group]
    [widget]
      type = pie

      caption = ${v - 10}

      endtime = ${v - 9}-01-01
      starttime = ${v - 10}-01-01
      timezone = UTC

      legend-position = top
      mode = column-stack
      mode = ring

      label-format = label

      server-aggregate = true

      format = parseFloat(Math.round(value / 100000) / 10).toFixed(1) + ' TW'

      entity = energinet.dk

      statistics = sum
      period = 1 year

      [series]
        alias = w-p
        display = false

        metric = primary_production
        [tags]
          name = DK-West

      [series]
        alias = e-p
        display = false

        metric = primary_production
        [tags]
          name = DK-East

      [series]
        label = Primary
        value = value('e-p') + value('w-p')

        color = dimgray

      [series]
        alias = w-l
        display = false

        metric = local_production
        [tags]
          name = DK-West

      [series]
        alias = e-l
        display = false

        metric = local_production
        [tags]
          name = DK-East

      [series]
        label = Local
        value = value('e-l') + value('w-l')

        color = #009999

      [series]
        alias = w-w
        display = false

        metric = wind_power_production
        [tags]
          name = DK-West

      [series]
        alias = e-w
        display = false

        metric = wind_power_production
        [tags]
          name = DK-East

      [series]
        label = Wind
        value = value('e-w') + value('w-w')

        color = steelblue

      [series]
        label = Solar
        value = 0.001

        color = darkorange

    [widget]
      type = pie

      caption = ${v - 1}

      endtime = ${v}-01-01
      starttime = ${v - 1}-01-01
      timezone = UTC

      legend-position = top
      mode = column-stack
      mode = ring

      label-format = label

      server-aggregate = true

      format = parseFloat(Math.round(value / 100000) / 10).toFixed(1) + ' TW'

      entity = energinet.dk

      statistics = sum
      period = 1 year

      [series]
        alias = w-p
        display = false

        metric = primary_production
        [tags]
          name = DK-West

      [series]
        alias = e-p
        display = false

        metric = primary_production
        [tags]
          name = DK-East

      [series]
        label = Primary
        value = value('e-p') + value('w-p')

        color = dimgray

      [series]
        alias = w-l
        display = false

        metric = local_production
        [tags]
          name = DK-West

      [series]
        alias = e-l
        display = false

        metric = local_production
        [tags]
          name = DK-East

      [series]
        label = Local
        value = value('e-l') + value('w-l')

        color = #009999

      [series]
        alias = w-w
        display = false

        metric = wind_power_production
        [tags]
          name = DK-West

      [series]
        alias = e-w
        display = false

        metric = wind_power_production
        [tags]
          name = DK-East

      [series]
        label = Wind
        value = value('e-w') + value('w-w')

        color = steelblue

      [series]
        alias = w-s
        display = false

        metric = solar_cell_production_(estimated)
        [tags]
          name = DK-West

      [series]
        alias = e-s
        display = false

        metric = solar_cell_production_(estimated)
        [tags]
          name = DK-East

      [series]
        label = Solar
        value = value('e-s') + value('w-s')

        color = darkorange

    [widget]
      type = pie

      caption = ${v}

      endtime = ${v + 1}-01-01
      starttime = ${v}-01-01
      timezone = UTC

      legend-position = top
      mode = column-stack
      mode = ring

      label-format = label

      server-aggregate = true

      format = parseFloat(Math.round(value / 100000) / 10).toFixed(1) + ' TW'

      entity = energinet.dk

      statistics = sum
      period = 1 year

      [series]
        alias = w-p
        display = false

        metric = primary_production
        [tags]
          name = DK-West

      [series]
        alias = e-p
        display = false

        metric = primary_production
        [tags]
          name = DK-East

      [series]
        label = Primary
        value = value('e-p') + value('w-p')

        color = dimgray

      [series]
        alias = w-l
        display = false

        metric = local_production
        [tags]
          name = DK-West

      [series]
        alias = e-l
        display = false

        metric = local_production
        [tags]
          name = DK-East

      [series]
        label = Local
        value = value('e-l') + value('w-l')

        color = #009999

      [series]
        alias = w-w
        display = false

        metric = wind_power_production
        [tags]
          name = DK-West

      [series]
        alias = e-w
        display = false

        metric = wind_power_production
        [tags]
          name = DK-East

      [series]
        label = Wind
        value = value('e-w') + value('w-w')

        color = steelblue

      [series]
        alias = w-s
        display = false

        metric = solar_cell_production_(estimated)
        [tags]
          name = DK-West

      [series]
        alias = e-s
        display = false

        metric = solar_cell_production_(estimated)
        [tags]
          name = DK-East

      [series]
        label = Solar
        value = value('e-s') + value('w-s')

        color = darkorange