[configuration]
  title = Weekly Production, Wind, 2015

[widget]
  type = chart

  endtime = 2016-01-04 00:00:00
  starttime = 2014-12-29 00:00:00
  timezone = UTC

  format = parseFloat(Math.round(value / 100) / 10).toFixed(1) + ' GWh'
  dayformat = %W

  label-format = label

  mode = column stack

  centralize columns = true
  rotate-ticks = 0

  legend-last-value = false
  server-aggregate = true
  vertical-grid = false
  lastvaluelabel = hidden

  entity = energinet.dk

  statistic = sum
  period = 1 week

  [series]
    metric = wind_power_production
    [tags]
      name = DK-West

    label = Wind, West
    color = steelblue

  [series]
    metric = wind_power_production
    [tags]
      name = DK-East

    label = Wind, East
    color = lightsteelblue