[configuration]
  title = Records, 2014

[html]
  line = <p style="font-size: 30px"><b>Power</b></p>

[widget]
  type = table

  endtime = 2015-01-01
  starttime = 2014-01-01
  timezone = UTC

  column-entity = null
  column-time = null
  column-value = null

  responsive = true

  server-aggregate = true

  [column]
    key = metric
    label = " "

  [column]
    key = min
    label = Minimum

    series-value = isNaN(min()) ? '' : d3.time.format('%Y-%m-%d %H:%M')(new Date(min_value_time())) + ' - ' + parseFloat(Math.round(min() * 10.0) / 10).toFixed(1) + ' MW'

  [column]
    key = max
    label = Maximum

    series-value = isNaN(max()) ? '' : d3.time.format('%Y-%m-%d %H:%M')(new Date(max_value_time())) + ' - ' + parseFloat(Math.round(max() / 100.0) / 10).toFixed(1) + ' GW'

    [series]
      display = false
      alias = primary_west

      entity = energinet.dk
      metric = primary_production

      [tags]
      name = DK-West

    [series]
      display = false
      alias = primary_east

      entity = energinet.dk
      metric = primary_production

      [tags]
      name = DK-East

    [series]
      label = Primary

      value = value('primary_east') + value('primary_west')

      style = background: dimgray; font-weight: bold; color: white

    [series]
      display = false
      alias = local_west

      entity = energinet.dk
      metric = local_production

      [tags]
      name = DK-West

    [series]
      display = false
      alias = local_east

      entity = energinet.dk
      metric = local_production

      [tags]
      name = DK-East

    [series]
      label = Local

      value = value('local_east') + value('local_west')

      style = background: #009999; font-weight: bold; color: white

    [series]
      display = false
      alias = wind_west

      entity = energinet.dk
      metric = wind_power_production

      [tags]
      name = DK-West

    [series]
      display = false
      alias = wind_east

      entity = energinet.dk
      metric = wind_power_production

      [tags]
      name = DK-East

    [series]
      label = Wind

      value = value('wind_east') + value('wind_west')

      style = background: steelblue; font-weight: bold; color: white

    [series]
      display = false
      alias = solar_west

      entity = energinet.dk
      metric = solar_cell_production_(estimated)

      [tags]
      name = DK-West

    [series]
      display = false
      alias = solar_east

      entity = energinet.dk
      metric = solar_cell_production_(estimated)

      [tags]
      name = DK-East

    [series]
      label = Solar

      value = value('solar_east') + value('solar_west')

      style = background: darkorange; font-weight: bold; color: white

[html]
  line = <p style="margin-top: 60px; font-size: 30px"><b>Daily production</b></p>

[widget]
  type = table

  endtime = 2015-01-01
  starttime = 2014-01-01
  timezone = UTC

  column-entity = null
  column-time = null
  column-value = null

  responsive = true

  server-aggregate = true

  [column]
    key = metric
    label = " "

  [column]
    key = min
    label = Minimum

    series-value = isNaN(min()) ? '' : d3.time.format('%Y-%m-%d')(new Date(min_value_time())) + ' - ' + parseFloat(Math.round(min() / 100.0) / 10).toFixed(1) + ' MWh'

  [column]
    key = max
    label = Maximum

    series-value = isNaN(max()) ? '' :  d3.time.format('%Y-%m-%d')(new Date(max_value_time())) + ' - ' + parseFloat(Math.round(max() / 100.0) / 10).toFixed(1) + ' GWh'

    [series]
      display = false
      alias = primary_west_daily

      entity = energinet.dk
      metric = primary_production

      [tags]
      name = DK-West

      statistic = sum
      period = 1 day

    [series]
      display = false
      alias = primary_east_daily

      entity = energinet.dk
      metric = primary_production

      [tags]
      name = DK-East

      statistic = sum
      period = 1 day

    [series]
      label = Primary

      value = value('primary_east_daily') + value('primary_west_daily')

      style = background: dimgray; font-weight: bold; color: white

    [series]
      display = false
      alias = local_west_daily

      entity = energinet.dk
      metric = local_production

      [tags]
      name = DK-West

      statistic = sum
      period = 1 day

    [series]
      display = false
      alias = local_east_daily

      entity = energinet.dk
      metric = local_production

      [tags]
      name = DK-East

      statistic = sum
      period = 1 day

    [series]
      label = Local

      value = value('local_east_daily') + value('local_west_daily')

      style = background: #009999; font-weight: bold; color: white

    [series]
      display = false
      alias = wind_west_daily

      entity = energinet.dk
      metric = wind_power_production

      [tags]
      name = DK-West

      statistic = sum
      period = 1 day

    [series]
      display = false
      alias = wind_east_daily

      entity = energinet.dk
      metric = wind_power_production

      [tags]
      name = DK-East

      statistic = sum
      period = 1 day

    [series]
      label = Wind

      value = value('wind_east_daily') + value('wind_west_daily')

      style = background: steelblue; font-weight: bold; color: white

    [series]
      display = false
      alias = solar_west_daily

      entity = energinet.dk
      metric = solar_cell_production_(estimated)

      [tags]
      name = DK-West

      statistic = sum
      period = 1 day

    [series]
      display = false
      alias = solar_east_daily

      entity = energinet.dk
      metric = solar_cell_production_(estimated)

      [tags]
      name = DK-East

      statistic = sum
      period = 1 day

    [series]
      label = Solar

      value = value('solar_east_daily') + value('solar_west_daily')

      style = background: darkorange; font-weight: bold; color: white