[configuration]
  title = Daily Production, Primary and Local, 2016

[widget]
  type = chart

  endtime = 2017-01-01 00:00:00
  starttime = 2016-01-01 00:00:00
  timezone = UTC

  format = parseFloat(Math.round(value / 100) / 10).toFixed(1) + ' GWh'
  dayformat = %b
  rotate-ticks = 0

  label-format = label

  mode = column stack

  legend-last-value = false
  server-aggregate = true
  vertical-grid = false
  lastvaluelabel = hidden

  entity = energinet.dk

  statistic = sum
  period = 1 day

  [series]
    metric = primary_production
    [tags]
      name = DK-West

    label = Primary, West
    color = dimgray

  [series]
    metric = primary_production
    [tags]
      name = DK-East

    label = Primary, East
    color = darkgray

  [series]
    metric = local_production
    [tags]
      name = DK-West

    label = Local, West
    color = #009999

  [series]
    metric = local_production
    [tags]
      name = DK-East

    label = Local, East
    color = #00BEBE