[page]
  file = title.htm

[section]
  title = Overview
  folder = overview
  collapse = false

[section]
  title = Annual Records
  folder = records
  collapse = true

[section]
  title = Monthly
  folder = monthly
  collapse = true

[section]
  title = Weekly
  folder = weekly
  collapse = true

[section]
  title = Daily
  folder = daily
  collapse = true

[section]
  title = By Month
  folder = by_month
  collapse = true

[section]
  title = By Week
  folder = by_week
  collapse = true