[configuration]
  title = Daily Production Distribution, 2016

[widget]
  type = box

  percentile-markers = all

  endtime = 2017-01-01
  starttime = 2016-01-01
  timezone = UTC

  format = parseFloat(Math.round(value / 100) / 10).toFixed(1) + ' GWh'

  server-aggregate = true

  entity = energinet.dk

  statistic = sum
  period = 1 day

  [series]
    metric = primary_production
    [tags]
      name = DK-West

    alias = primary_west
    display = false

  [series]
    metric = primary_production
    [tags]
      name = DK-East

    alias = primary_east
    display = false

  [series]
    value = value('primary_west') + value('primary_east')

    label = Primary
    color = dimgray

  [series]
    metric = local_production
    [tags]
      name = DK-West

    alias = local_west
    display = false

  [series]
    metric = local_production
    [tags]
      name = DK-East

    alias = local_east
    display = false

  [series]
    value = value('local_west') + value('local_east')

    label = Local
    color = #009999

  [series]
    metric = wind_power_production
    [tags]
      name = DK-West

    alias = wind_west
    display = false

  [series]
    metric = wind_power_production
    [tags]
      name = DK-East

    alias = wind_east
    display = false

  [series]
    value = value('wind_west') + value('wind_east')

    label = Wind
    color = steelblue

  [series]
    metric = solar_cell_production_(estimated)
    [tags]
      name = DK-West

    alias = solar_west
    display = false

  [series]
    metric = solar_cell_production_(estimated)
    [tags]
      name = DK-East

    alias = solar_east
    display = false

  [series]
    value = value('solar_west') + value('solar_east')

    label = Solar
    color = darkorange