[repeat]
  v = [January, February, March, April, May, June, July, August, September, October, November, December]

  [configuration]
    title = Energy Production by Month: ${v} 2016

  [widget]
    type = chart

    start-time = add_months(current_year, ${v_index - 1})
    end-time = add_months(current_year, ${v_index})
    timezone = UTC

    format = parseFloat(Math.round(value / 100) / 10).toFixed(1) + ' GW'
    dayformat = %d

    mode = stack

    legend-last-value = false
    server-aggregate = true
    vertical-grid = false
    lastvaluelabel = hidden

    entity = energinet.dk

    [series]
      metric = primary_production
      [tags]
        name = DK-West

      label = Primary, West
      color = dimgray

    [series]
      metric = primary_production
      [tags]
        name = DK-East

      label = Primary, East
      color = darkgray

    [series]
      metric = local_production
      [tags]
        name = DK-West

      label = Local, West
      color = #009999

    [series]
      metric = local_production
      [tags]
        name = DK-East

      label = Local, East
      color = #00B4B4

    [series]
      metric = wind_power_production
      [tags]
        name = DK-West

      label = Wind, West
      color = steelblue

    [series]
      metric = wind_power_production
      [tags]
        name = DK-East

      label = Wind, East
      color = lightsteelblue

    [series]
      metric = solar_cell_production_(estimated)
      [tags]
        name = DK-West

      label = Solar, West
      color = darkorange

    [series]
      metric = solar_cell_production_(estimated)
      [tags]
        name = DK-East

      label = Solar, East
      color = #FFAE19

  [widget]
    type = table

    start-time = add_months(current_year, ${v_index - 1})
    end-time = add_months(current_year, ${v_index})
    timezone = UTC

    entity = energinet.dk

    column-entity = null
    column-time = null
    column-value = null

    responsive = true

    server-aggregate = true

    [column]
      key = metric
      label = " "

    [column]
      key = min
      label = Min. power

      series-value = min() / 1000.0

      format = parseFloat(Math.round(value * 10) / 10).toFixed(1) + ' GW'

    [column]
      key = max
      label = Max. power

      series-value = max() / 1000.0

      format = parseFloat(Math.round(value * 10) / 10).toFixed(1) + ' GW'

    [column]
      key = sum
      label = Monthly energy

      series-value = sum() / 1000.0

      format = parseFloat(Math.round(value * 10) / 10).toFixed(1) + ' GWh'

    [series]
      label = Primary, West
      alias = primary_west

      metric = primary_production

      [tags]
        name = DK-West

      style = background: dimgray; color: white

    [series]
      label = Primary, East
      alias = primary_east

      metric = primary_production

      [tags]
        name = DK-East

      style = background: darkgray

    [series]
      label = Primary, Total

      value = value('primary_west') + value('primary_east')

      style = background: white; font-weight: bold;

    [series]
      label = Local, West
      alias = local_west

      metric = local_production

      [tags]
        name = DK-West

      style = background: #009999; color: white

    [series]
      label = Local, East
      alias = local_east

      metric = local_production

      [tags]
        name = DK-East

      style = background: #00BEBE

    [series]
      label = Local, Total

      value = value('local_west') + value('local_east')

      style = background: white; font-weight: bold;

    [series]
      label = Wind, West
      alias = wind_west

      metric = wind_power_production

      [tags]
        name = DK-West

      style = background: steelblue; color: white; max-font-size: 72

    [series]
      label = Wind, East
      alias = wind_east

      metric = wind_power_production

      [tags]
        name = DK-East

      style = background: lightsteelblue

    [series]
      label = Wind, Total

      value = value('wind_west') + value('wind_east')

      style = background: white; font-weight: bold;

    [series]
      label = Solar, West
      alias = solar_west

      metric = solar_cell_production_(estimated)

      [tags]
        name = DK-West

      style = background: darkorange; color: white

    [series]
      label = Solar, East
      alias = solar_east

      metric = solar_cell_production_(estimated)

      [tags]
        name = DK-East

      style = background: #FFAE19

    [series]
      label = Solar, Total

      value = value('solar_west') + value('solar_east')

      style = background: white; font-weight: bold;