[configuration]
  title = Daily Production, Solar, 2014

[widget]
  type = chart

  endtime = 2015-01-01 00:00:00
  starttime = 2014-01-01 00:00:00
  timezone = UTC

  format = parseFloat(Math.round(value / 100) / 10).toFixed(1) + ' GWh'
  dayformat = %b
  rotate-ticks = 0

  label-format = label

  mode = column stack

  legend-last-value = false
  server-aggregate = true
  vertical-grid = false
  lastvaluelabel = hidden

  entity = energinet.dk

  statistic = sum
  period = 1 day

  [series]
    metric = solar_cell_production_(estimated)
    [tags]
      name = DK-West

    label = Solar, West
    color = darkorange

  [series]
    metric = solar_cell_production_(estimated)
    [tags]
      name = DK-East

    label = Solar, East
    color = #FFAE19