[configuration]
  title = Record Solar Production Day: May 30, 2014

[widget]
  type = chart

  endtime = 2014-05-31 00:00:00
  timespan = 24 hour
  timezone = UTC

  format = parseFloat(Math.round(value / 100) / 10).toFixed(1) + ' GW'
  dayformat = %H:%M
  ticks-time = 24
  mode = column stack

  centralize columns = true

  legend-last-value = false
  server-aggregate = true
  vertical-grid = false
  lastvaluelabel = hidden

  entity = energinet.dk

  [series]
    metric = primary_production
    [tags]
      name = DK-West

    label = Primary, West
    color = dimgray

  [series]
    metric = primary_production
    [tags]
      name = DK-East

    label = Primary, East
    color = darkgray

  [series]
    metric = local_production
    [tags]
      name = DK-West

    label = Local, West
    color = #009999

  [series]
    metric = local_production
    [tags]
      name = DK-East

    label = Local, East
    color = #00B4B4

  [series]
    metric = wind_power_production
    [tags]
      name = DK-West

    label = Wind, West
    color = steelblue

  [series]
    metric = wind_power_production
    [tags]
      name = DK-East

    label = Wind, East
    color = lightsteelblue

  [series]
    metric = solar_cell_production_(estimated)
    [tags]
      name = DK-West

    label = Solar, West
    color = darkorange

  [series]
    metric = solar_cell_production_(estimated)
    [tags]
      name = DK-East

    label = Solar, East
    color = #FFAE19

[widget]
  type = table

  endtime = 2014-05-31 00:00:00
  timespan = 24 hour
  timezone = UTC

  column-entity = null
  column-time = null
  column-value = null

  responsive = true

  server-aggregate = true

  [column]
    key = metric
    label = " "

  [column]
    key = min
    label = Min. power

    series-value = min() / 1000.0

    format = parseFloat(Math.round(value * 10) / 10).toFixed(1) + ' GW'

  [column]
    key = max
    label = Max. power

    series-value = max() / 1000.0

    format = parseFloat(Math.round(value * 10) / 10).toFixed(1) + ' GW'

  [column]
    key = sum
    label = Daily energy

    series-value = sum() / 1000.0

    format = parseFloat(Math.round(value * 10) / 10).toFixed(1) + ' GWh'

  [series]
    label = Primary, West
    alias = primary_west

    entity = energinet.dk
    metric = primary_production

    [tags]
      name = DK-West

    style = background: dimgray; color: white

  [series]
    label = Primary, East
    alias = primary_east

    entity = energinet.dk
    metric = primary_production

    [tags]
      name = DK-East

    style = background: darkgray

  [series]
    label = Primary, Total

    value = value('primary_east') + value('primary_west')

    style = background: white; font-weight: bold;

  [series]
    label = Local, West
    alias = local_west

    entity = energinet.dk
    metric = local_production

    [tags]
      name = DK-West

    style = background: #009999; color: white

  [series]
    label = Local, East
    alias = local_east

    entity = energinet.dk
    metric = local_production

    [tags]
      name = DK-East

    style = background: #00B4B4

  [series]
    label = Local, Total

    value = value('local_east') + value('local_west')

    style = background: white; font-weight: bold;

  [series]
    label = Wind, West
    alias = wind_west

    entity = energinet.dk
    metric = wind_power_production

    [tags]
      name = DK-West

    style = background: steelblue; color: white

	[series]
	  label = Wind, East
		alias = wind_east

		entity = energinet.dk
		metric = wind_power_production

		[tags]
		  name = DK-East

		style = background: lightsteelblue

  [series]
    label = Wind, Total

    value = value('wind_east') + value('wind_west')

    style = background: white; font-weight: bold;

  [series]
    label = Solar, West
    alias = solar_west

    entity = energinet.dk
    metric = solar_cell_production_(estimated)

    [tags]
      name = DK-West

    style = background: darkorange; color: white

  [series]
    label = Solar, East
    alias = solar_east

    entity = energinet.dk
    metric = solar_cell_production_(estimated)

    [tags]
      name = DK-East

    style = background: #FFAE19

  [series]
    label = Solar, Total

    value = value('solar_east') + value('solar_west')

    style = background: white; font-weight: bold;