[configuration]
  title = Weekly Production, Primary, 2014

[widget]
  type = chart

  endtime = 2015-01-05 00:00:00
  starttime = 2013-12-30 00:00:00
  timezone = UTC

  format = parseFloat(Math.round(value / 100) / 10).toFixed(1) + ' GWh'
  dayformat = %W

  label-format = label

  mode = column stack

  centralize columns = true
  rotate-ticks = 0

  legend-last-value = false
  server-aggregate = true
  vertical-grid = false
  lastvaluelabel = hidden

  entity = energinet.dk

  statistic = sum
  period = 1 week

  [series]
    metric = primary_production
    [tags]
      name = DK-West

    label = Primary, West
    color = dimgray

  [series]
    metric = primary_production
    [tags]
      name = DK-East

    label = Primary, East
    color = darkgray