[configuration]
  title = Monthly Production, Local, 2017

[widget]
  type = chart

  endtime = 2018-01-01 00:00:00
  starttime = 2017-01-01 00:00:00
  timezone = UTC

  format = parseFloat(Math.round(value / 100000) / 10).toFixed(1) + ' TWh'
  dayformat = %B

  label-format = label

  mode = column stack

  centralize columns = true
  centralize-ticks = true

  legend-last-value = false
  server-aggregate = true
  vertical-grid = false
  lastvaluelabel = hidden

  entity = energinet.dk

  statistic = sum
  period = 1 month

  [series]
    metric = local_production
    [tags]
      name = DK-West

    label = Local, West
    color = #009999

  [series]
    metric = local_production
    [tags]
      name = DK-East

    label = Local, East
    color = #00BEBE